Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

list popular languages in python
explore free and commercial tools
overview of data science languaes

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Panda
3. Matplotlib

Data Science Tools

1. knime
2. hadoop
3. spark

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

m=200
h=m/60
print(h)

<h2>Author</h2>

Aniket